/* Styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
    --dark-blue: #414f6b;
}



/* Parallax Container starts */

.parallax-container {
    height: 50vh;
}

/* Parallax Container ends */



/* Navbar starts */

.navbar {
    width: 100%;
    display: flex;
    padding: 1rem;
    height: 8rem;
    position: absolute;
    top: 0;
    z-index: 1;
}

.navbar-wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.menu-link {
    font-family: "Lato", sans-serif;
    color: #FFF;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.menu-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    bottom: -.5rem;
    left: 0;
}

/* Navbar ends */



/* Hero section starts */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Hero section ends */



/* History sections start */

.history {
    position: relative;
}

.navbar-history {
    background-color: #FFF;
    position: sticky;
    top: 0;
}

.navbar-history .menu-link {
    color: var(--dark-blue);
}

.navbar-history .menu-link::after {
    background-color: var(--dark-blue);
}

.hamburger-button,
.close-button {
    border: none;
    outline: none;
    background-color: transparent;
}

.close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.hamburger-button img,
.close-button img {
    width: 30px;
    height: 30px;
}

.navbar-history .menu {
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in-out;
    background-color: #FFF;
    height: 100vh;
    max-width: 300px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6rem 4rem;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.navbar-history .menu.active {
    left: 0;
}

.history-wrapper {
    height: calc(100vh + 8rem);
    width: 100%;
    position: relative;
}

.history-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-content {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.section-heading {
    width: 150px;
}

.history-description {
    color: #000;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    position: relative;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

.carousel {
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    opacity: 0.85;
}

.carousel-item {
    width: 100%;
    object-fit: cover;
}

/* History section ends */



/* Footer starts */

.footer {
    background-color: #414E6C;
    padding: 1.5rem;
}

.footer-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.footer-logo {
    max-width: 150px;
}

.copyright {
    text-transform: uppercase;
    color: #61759E;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

/* Footer ends */



/* Media queries starts */
@media(min-width: 768px) {
    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 1024px) {

    .parallax-container,
    .hero {
        height: 100vh;
    }

    .parallax-container {
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 1rem;
    }

    .background {
        transform: translateZ(-1rem) scale(2);
    }

    .foreground {
        transform: translateZ(-.5rem) scale(1.5);
    }

    .history-description {
        font-size: 1.6rem;
    }

    .navbar-history .menu {
        left: 0;
        position: relative;
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        flex-direction: row;
    }

    .close-button,
    .hamburger-button {
        display: none;
    }

    .sticky-menu .logo {
        display: none;
    }

}

@media(min-width: 1280px) {
    .section-heading {
        margin-left: -6rem;
        width: 225px;
    }
}

/* Media queries ends */



/* Custom SwiperJS styles starts */

.swiper {
    width: 80%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.swiper-pagination {
    top: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #FFF;
}

.swiper-pagination-lock {
    display: block;
}

.swiper-wrapper {
    padding: 2rem 0;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
}

/* Custom SwiperJS styles ends */